<div class="home-container">
    <div class="home-background">
        <div class="home-layer">
        </div>
        <div class="row justify-content-center">
            <div class="home-title col-8 ">
                <p>Welcome,</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="home-content col-8 ">
                <p>For league managers, our website focus on creating and customizing football leagues, helping to manage the league with
                    some proposal suggestions, and manage the list of football clubs participating in the league. For
                    club managers, the system supports managing the football club with players information, team’s
                    tactical line up and also the leagues information that help registration easier.
                     <!-- And for all other
                    users, FLMS will bring the tournament’s information and statistics as soon as possible. Football
                    League Management System wishes to support the teams manager work process easily, less time
                    consuming, ensure accurate info for users as well as increase operational efficiency of the league
                    manager. -->
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="home-cover-action row col-8 ">
                <div class="col-3">
                    <button mat-raised-button color="warn">Create League</button>
                </div>
                <div class="col-2">
                    <button mat-raised-button color="">Create Club</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="home-cover-list row col-8 ">
                <mat-list role="list">
                    <mat-list-item role="listitem"><mat-icon>task_alt</mat-icon>&nbsp;&nbsp;<span>Free To
                            Use</span></mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>task_alt</mat-icon>&nbsp;&nbsp;<span>Easy And Effective
                            Interaction</span></mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>task_alt</mat-icon>&nbsp;&nbsp;<span>Update Information
                            Quickly</span></mat-list-item>
                </mat-list>
            </div>
        </div>
        
        
    </div>
    <div class="demo" style="height: 100px; width: 100%; background-color: aliceblue;">
        <div *ngFor="let club of clubs">
            <h1>{{club.clubName}}</h1>
        </div>
    </div>
</div>