<div class="home-container">
    <div class="home-background">
        <div class="home-layer">
        </div>
        <div class="row justify-content-center">
            <div class="home-title col-8 ">
                <p>Welcome,</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="home-content col-8 ">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, exercitationem doloribus
                    corporis
                    dolorum quia vero laudantium perspiciatis excepturi? Sunt tempore consequatur, quam voluptates
                    fugiat
                    quibusdam! Eligendi molestias eum nam saepe?</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="home-cover-action row col-8 ">
                <div class="col-2">
                    <button mat-raised-button color="warn">Create League</button>
                </div>
                <div class="col-2">
                    <button mat-raised-button color="">Create Club</button>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="home-cover-list row col-8 ">
                <mat-list role="list">
                    <mat-list-item role="listitem"><mat-icon>task_alt</mat-icon>&nbsp;&nbsp;<span>Free To
                            Use</span></mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>task_alt</mat-icon>&nbsp;&nbsp;<span>Easy And Effective
                            Interaction</span></mat-list-item>
                    <mat-list-item role="listitem"><mat-icon>task_alt</mat-icon>&nbsp;&nbsp;<span>Update Information
                            Quickly</span></mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>