.home-container {

    .home-background {
        background-image: url('./../../../assets/image/Stretford_End_Old_Trafford.jpg');
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        background-position: top;
        background-attachment: fixed;
    }

    .home-layer {
        background-image: linear-gradient(to bottom left, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 1));
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        height: 915px;
    }

    .home-welcome {
        margin: 0;

        .home-welcome-content {
            width: 735px;
            margin-top: 193px;
            background: linear-gradient(124.42deg, rgba(0, 0, 0, 0.36) 5.12%, rgba(0, 0, 0, 0.0675) 102.99%);
            padding: 40px 56px;
            backdrop-filter: blur(4px);
            border-radius: 24px;
        }

        .home-title {
            color: white;

            h3 {
                width: 626px;
                height: 50px;
                line-height: 50px;
                font-weight: 400;
                font-size: 48px;
                font-family: 'Roboto';
                font-style: normal;
            }
        }

        .home-content {
            color: white;
            margin-top: 40px;

            p {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 26px;
            }
        }

        .home-cover-action {
            margin-top: 30px;
            display: flex;
            flex-direction: row;

            span {
                color: white;
                font-size: 100px;
            }

            button {
                height: 50px;
                width: 180px;
                font-size: 20px;
            }
        }

        .home-cover-list {
            margin: 150px 0px 45px 0px;

            .home-advantage {
                background: linear-gradient(124.42deg, rgba(0, 0, 0, 0.36) 5.12%, rgba(0, 0, 0, 0.0675) 102.99%);
                backdrop-filter: blur(4px);
                border-radius: 24px;
                padding: 23.4146px 54.6341px;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .free-to-use {
                    color: #FAFAFA;

                    h5 {
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 32px;
                    }

                    .line {
                        width: 66px;
                        height: 4px;
                        background: #FAFAFA;
                    }

                    p {
                        width: 176px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 12px 0px 0px;
                    }
                }

                .easy-interaction {
                    color: #FAFAFA;
                    margin: 0 80px 0 80px;

                    h5 {
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 32px;
                    }

                    .line {
                        width: 66px;
                        height: 4px;
                        background: #FAFAFA;
                    }

                    p {
                        width: 176px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 12px 0px 0px;
                    }
                }

                .effective-interaction {
                    color: #FAFAFA;
                    margin-right: 80px;

                    h5 {
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 32px;
                    }

                    .line {
                        width: 66px;
                        height: 4px;
                        background: #FAFAFA;
                    }

                    p {
                        width: 176px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 12px 0px 0px;
                    }
                }

                .update-information {
                    color: #FAFAFA;

                    h5 {
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 32px;
                    }

                    .line {
                        width: 66px;
                        height: 4px;
                        background: #FAFAFA;
                    }

                    p {
                        width: 176px;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 24px;
                        margin: 12px 0px 0px;
                    }
                }
            }
        }

    }

    .home-content-container {
        margin: 0 auto;
        
        h4 {
            font-weight: 400;
            font-size: 34px;
            line-height: 40px;
            margin: 40px 0px;
            color: #000000;
        }

        .most-win-clubs {

            .club-detail-container {
                text-align: center;
                width: 100%;
                margin: 0px 25px;

                .club-detail-card {
                    max-width: 197px;
                    background-color: #EEEEEE;
                    padding: 31px 0px 12px 0px;
                    border-radius: 16px;

                    .club-header-image {
                        height: 150px;
                        width: 150px;
                        margin: 0 24px;
                        background-color: white;
                    }

                    mat-card-title {
                        margin-top: 30px;
                        text-transform: uppercase;
                        font-size: 15px;
                    }
                }
            }
        }


        .highest-prize-leagues {

            .league-detail-container {
                text-align: center;
                width: 100%;
                .league-detail-card {
                    max-width: 197px;
                    background-color: #EEEEEE;
                    padding: 31px 0px 12px 0px;
                    border-radius: 16px;
                    margin: 0px 25px;

                    .league-header-image {
                        height: 150px;
                        width: 150px;
                        margin: 0 24px;
                        background-color: white;
                    }

                    mat-card-title {
                        margin-top: 30px;
                        text-transform: uppercase;
                        font-size: 15px;

                    }

                    
                }
            }
        }
    }


}