.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    padding: 5px 25px 25px 25px;
    width: 100%;
}

.add-player-content {
    display: flex;
}

.left-content {
    flex: 1;
}

.right-content {
    flex: 1;
}

.player-container {
    text-align: center;
    width: 100%;
    margin: 25px 0;

    // margin-top: 50px;
    // padding: 6px 15px 0;
    .player-id {
        display: block;
        padding: 6px 15px;
        margin-top: 10px;
    }

    .player-img {
        margin-top: -35px;
        position: relative;
    }

    .player-heading {
        margin: 10px 0;
    }

}

.player-list-card {
    max-width: 100%;
    background-color: #F8F8F8;
}


.player-paginator {
    text-align: center;
}

.profile-image {
    background-size: cover;
    height: 100px;
    width: 100px;
}