.club-detail-container {
    .img-account-profile {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }

    .rounded-circle {
        border-radius: 50%;
    }

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .form-control,
    .dataTable-input {
        display: block;
        width: 100%;
        padding: 0.875rem 1.125rem;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1;
        color: #69707a;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #c5ccd6;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.35rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }

    .example-full-width {
        width: 100%;
    }

    .example-form {

        width: 100%;
    }

    // .player-content{
    //     display: flex;
    // }
    .col-md-6 {
        display: flex;
    }

    .mb-3 {
        display: flex;
    }
    .avatar-header-image {
        background-size: cover;
        height: 35px;
        width: 35px;
        margin: 2px 0px 0px 2px;
        object-fit: cover;
    }
}

// .example-card{
//     width: 80%;
// }

   
.mat-input-element{
    color: black;
}