<div class="league-setting-containner row" cdkDropListGroup>
    <div class="col-xl-3" *ngIf="leagueTree">
        <div class="card mb-4 mb-xl-0 league-card">
            <mat-toolbar>
                <span>List Clubs</span>
            </mat-toolbar>
            <div class="card-body ">
                <div cdkDropList [cdkDropListData]="listAvailNode" class="player-list"
                    (cdkDropListDropped)="drop($event)">
                    <mat-card class="player-box" *ngFor="let item of listAvailNode" cdkDrag>
                        <mat-card-header>
                            <div mat-card-avatar class="avatar-header-image"></div>
                            <mat-card-title style="line-height: 37px; margin-bottom: 0;font-size: 15px;">{{
                                item.clubBasicInfo != null ? item.clubBasicInfo.clubName : '_' }}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
        <button mat-raised-button type="submit" color="primary" (click)="onSubmit()" >Save</button>
    </div>
    <div class="col-xl-9 league-tree-container">
        <ng-container *ngIf="singleEliminationTournament">
            <ngtt-single-elimination-tree [tournament]="singleEliminationTournament"
                [matchTemplate]="matchTemplate"></ngtt-single-elimination-tree>
        </ng-container>

        <ng-template #matchTemplate let-match>
            <app-tournament-match [match]="match"></app-tournament-match>
        </ng-template>
    </div>
</div>