.logo {
    padding-left: 70px;
    padding-right: 70px;
}

.navbar-btn-login {
    padding-right: 150px;
}

.navbar-container {
    // background-image: url("img/bg.png");
    background-color: rgba(21, 29, 49, 1); 
    height: 70px;
}