<nav class="navbar navbar-expand-lg navbar-dark navbar-container">
    <div class="logo">
        <a class="navbar-brand" [routerLink]="['/home']">
            <img src="./../../../assets/image/Small_white_logo.png" alt="">
            <span> FLMS</span>
        </a>
    </div>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-uppercase" routerLinkActive="active">
            <li class="nav-item">
                <a [class.active]="router.url==='/home'" class="nav-link" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item">
                <a [class.active]="router.url==='/club-list'" class="nav-link" [routerLink]="['/club-list']">CLubs</a>
            </li>
            <li class="nav-item">
                <a [class.active]="router.url==='/league-list'" class="nav-link"
                    [routerLink]="['/league-list']">Leagues</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">Finished's League</a>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="#">About</a>
            </li> -->
        </ul>
    </div>
    <a *ngIf="user == null" mat-raised-button [routerLink]="['/login']" class="btn">Login</a>
    <div *ngIf="user != null">
        <mat-card class="avatar-card">
            <mat-card-header>
                <div mat-card-avatar class="avatar-header-image">
                    <img mat-card-avatar class="avatar-detail-logo"
                        [src]="user.avatar != null ? user.avatar : defaultLogo" alt="Club's Pic">

                </div>
                <mat-card-title style="line-height: 38px;">
                    <!-- {{user.fullName}}
                    {{ user.fullName | slice:0:15 }}{{ user.fullName.length > 15 ? '...' : '' }} -->
                    {{ user.fullName.length > 15 ? user.fullName.slice(0, 15) + '...' : user.fullName }}
                </mat-card-title>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>keyboard_arrow_down</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <a [routerLink]="['/manager/']" style="text-decoration: none; ">
                        <button mat-menu-item>
                            <span style="color: rgba(0, 0, 0, 0.87);">
                                <mat-icon>account_circle</mat-icon>
                                <span>Manager</span>
                            </span>
                        </button>
                    </a>
                    <button mat-menu-item (click)="logout()">
                        <mat-icon>logout</mat-icon>
                        <span>Logout</span>
                    </button>
                </mat-menu>
            </mat-card-header>
        </mat-card>
    </div>
</nav>