<p>
    <mat-toolbar class="card">
        <span>Line-up</span>
    </mat-toolbar>
</p>
<div class="line-up-containner row" cdkDropListGroup>
    <div class="col-xl-3">
        <div class="card mb-4 mb-xl-0 league-card">
            <mat-toolbar>
                <span>Team members</span>
            </mat-toolbar>
            <div class="card-body ">
                <div cdkDropList [cdkDropListData]="unsquadPlayers" class="player-list"
                    (cdkDropListDropped)="drop($event)">
                    <mat-card class="player-box" *ngFor="let item of unsquadPlayers" cdkDrag>
                        <mat-card-header>
                            <div mat-card-avatar class="avatar-header-image"></div>
                            <mat-card-title style="line-height: 37px; margin-bottom: 0;">{{item.name}}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <mat-toolbar>
                <span>Line-up</span>
            </mat-toolbar>
            <div class="card-body">
                <!-- <div class="line-up-field"> -->
                <div class="player-list line-up-field row justify-content-center">
                    <div class="positon-st">
                        <mat-card class="player-box player-position" cdkDrag>
                            <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                            <mat-card-title
                                style="line-height: 52px; margin-bottom: 0;">{{startingSquad[6].playerName}}</mat-card-title>
                        </mat-card>
                    </div>
                    <div style="display: flex; justify-content: center; margin-top: 20px;">
                        <div class="positon-lm">
                            <mat-card class="player-box player-position" cdkDrag>
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-title
                                    style="line-height: 52px; margin-bottom: 0;">{{startingSquad[5].playerName}}</mat-card-title>
                            </mat-card>
                        </div>
                        <div style="width: 300px;"></div>
                        <div class="positon-rm">
                            <mat-card class="player-box player-position" cdkDrag>
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-title
                                    style="line-height: 52px; margin-bottom: 0;">{{startingSquad[4].playerName}}</mat-card-title>
                            </mat-card>
                        </div>
                    </div>




                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card mb-4 mb-xl-0 league-card">
            <mat-toolbar>
                <span>Main Squad</span>
            </mat-toolbar>
            <div class="card-body " style="display: flex;">
                <div>
                    <div *ngFor="let position of position.reverse()">
                        {{position}}
                    </div>
                </div>
                <div cdkDropList [cdkDropListData]="startingSquad" class="player-list"
                    (cdkDropListDropped)="drop($event)" style="width: 100%;">
                    <mat-card class="player-box" *ngFor="let item of startingSquad" cdkDrag>

                        <mat-card-header>
                            <div mat-card-avatar class="avatar-header-image"></div>
                            <mat-card-title
                                style="line-height: 37px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="card mb-4 mb-xl-0 league-card">
            <p>
                <mat-toolbar>
                    <span>Substitute</span>
                </mat-toolbar>
            </p>
            <div class="card-body ">
                <div cdkDropList [cdkDropListData]="substitution" class="player-list"
                    (cdkDropListDropped)="drop($event)">
                    <mat-card class="player-box" *ngFor="let item of substitution" cdkDrag>
                        <mat-card-header>
                            <div mat-card-avatar class="avatar-header-image"></div>
                            <mat-card-title
                                style="line-height: 37px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>