<p>
    <mat-toolbar class="card">
        <span>Line-up</span>
        <div style="margin: 0 0 0 auto;">
            <button mat-raised-button type="submit" color="primary" (click)="onSubmit()">Save</button>
        </div>
    </mat-toolbar>
</p>
<div *ngIf="matchSquad">
    <div class="match-detail-info row justify-content-center">
        <div class="col-8">
            <mat-card class="match-detail-card">
                <mat-card class="score-container">
                    <mat-card-header class="team-1">
                        <div mat-card-avatar class="match-detail-logo">
                            <img mat-card-avatar class="match-detail-logo"
                                [src]="matchSquad.ownClub.logo != null ? matchSquad.ownClub.logo : defaultLogo"
                                alt="club logo">
                        </div>
                        <div class="match-detail-title">
                            {{matchSquad.ownClub.clubName}}
                        </div>
                    </mat-card-header>
                    <div class="score-content">
                        <div class="goal-data">
                            <span>Against</span>
                        </div>
                    </div>
                    <mat-card-header class="team-2">
                        <div mat-card-avatar class="match-detail-logo">
                            <img mat-card-avatar class="match-detail-logo"
                                [src]="matchSquad.against.logo != null ? matchSquad.against.logo : defaultLogo"
                                alt="club logo">
                        </div>
                        <div class="match-detail-title">
                            {{matchSquad.against.clubName}}
                        </div>
                    </mat-card-header>
                </mat-card>
                <br>
                <section class="match-detail-container">
                    <div class="left-detail" style="text-align: center;">
                        <p class="match-detail-content"> League: {{matchSquad.leagueName}} </p>
                        <p class="match-detail-content"> Round: {{matchSquad.round}} </p>
                    </div>
                    <div class="right-detail" style="text-align: center;">
                        <p class="match-detail-content">Match date: {{matchSquad.matchTime}}
                            {{matchSquad.matchDate}} </p>
                        <p class="match-detail-content">Stadium: {{matchSquad.stadium}} </p>
                    </div>
                </section>
            </mat-card>
        </div>
    </div>
</div>

<div class="line-up-containner row" cdkDropListGroup>
    <div class="col-xl-3">
        <div class="card mb-4 mb-xl-0 league-card">
            <mat-toolbar>
                <span>Team members</span>
            </mat-toolbar>
            <div class="card-body ">
                <div cdkDropList [cdkDropListData]="unsquadPlayers" class="player-list"
                    (cdkDropListDropped)="drop($event)">
                    <mat-card class="player-box" *ngFor="let item of unsquadPlayers" cdkDrag>
                        <mat-card-header>
                            <img mat-card-avatar class="avatar-header-image"
                                [src]="item.playerAvatar != null ? item.playerAvatar : defaultAvatar"><br>
                            <mat-card-title
                                style="line-height: 37px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-6">
        <div class="card mb-4">
            <mat-toolbar>
                <span>Line-up</span>
            </mat-toolbar>
            <div class="card-body">
                <!-- <div class="line-up-field"> -->
                <div class="player-list line-up-field row justify-content-center">
                    <div class="positon-st">
                        <mat-card class="player-box player-position" cdkDrag>
                            <img mat-card-avatar class="player-header-image"
                                [src]="startingSquad[6].playerAvatar != null ? startingSquad[6].playerAvatar : defaultAvatar"><br>
                            <mat-card-subtitle
                                style="line-height: 52px; margin-bottom: 0;">{{startingSquad[6].playerName != null ?
                                startingSquad[6].playerName : '_'}}</mat-card-subtitle>
                        </mat-card>
                    </div>
                    <div style="display: flex; justify-content: center; margin-top: 20px;">
                        <div class="positon-lm">
                            <mat-card class="player-box player-position" cdkDrag>
                                <img mat-card-avatar class="player-header-image"
                                    [src]="startingSquad[5].playerAvatar != null ? startingSquad[5].playerAvatar : defaultAvatar"><br>
                                <mat-card-subtitle
                                    style="line-height: 52px; margin-bottom: 0;">{{startingSquad[5].playerName != null ?
                                    startingSquad[5].playerName : '_'}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                        <div style="width: 140px;"></div>
                        <div class="positon-rm">
                            <mat-card class="player-box player-position" cdkDrag>
                                <img mat-card-avatar class="player-header-image"
                                    [src]="startingSquad[4].playerAvatar != null ? startingSquad[4].playerAvatar : defaultAvatar"><br>
                                <mat-card-subtitle
                                    style="line-height: 52px; margin-bottom: 0;">{{startingSquad[4].playerName != null ?
                                    startingSquad[4].playerName : '_'}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                    </div>

                    <div style="display: flex; justify-content: center; margin-top: 20px;">
                        <div class="positon-lb">
                            <mat-card class="player-box player-position" cdkDrag>
                                <img mat-card-avatar class="player-header-image"
                                    [src]="startingSquad[3].playerAvatar != null ? startingSquad[3].playerAvatar : defaultAvatar"><br>
                                <mat-card-subtitle
                                    style="line-height: 52px; margin-bottom: 0;">{{startingSquad[3].playerName != null ?
                                    startingSquad[3].playerName : '_'}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                        <div style="width: 300px;"></div>
                        <div class="positon-rb">
                            <mat-card class="player-box player-position" cdkDrag>
                                <img mat-card-avatar class="player-header-image"
                                    [src]="startingSquad[2].playerAvatar != null ? startingSquad[2].playerAvatar : defaultAvatar"><br>
                                <mat-card-subtitle
                                    style="line-height: 52px; margin-bottom: 0;">{{startingSquad[2].playerName != null ?
                                    startingSquad[2].playerName : '_'}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                    </div>

                    <div class="positon-cb">
                        <mat-card class="player-box player-position" cdkDrag>
                            <img mat-card-avatar class="player-header-image"
                                [src]="startingSquad[1].playerAvatar != null ? startingSquad[1].playerAvatar : defaultAvatar"><br>
                            <mat-card-subtitle
                                style="line-height: 52px; margin-bottom: 0;">{{startingSquad[1].playerName != null ?
                                startingSquad[1].playerName : '_'}}</mat-card-subtitle>
                        </mat-card>
                    </div>

                    <div class="positon-gk">
                        <mat-card class="player-box player-position" cdkDrag>
                            <img mat-card-avatar class="player-header-image"
                                    [src]="startingSquad[0].playerAvatar != null ? startingSquad[0].playerAvatar : defaultAvatar"><br>
                                <mat-card-subtitle
                                    style="line-height: 52px; margin-bottom: 0;">{{startingSquad[0].playerName != null ?
                                    startingSquad[0].playerName : '_'}}</mat-card-subtitle>
                        </mat-card>
                    </div>




                </div>
                <!-- </div> -->
            </div>
        </div>
    </div>
    <div class="col-xl-3">
        <div class="card mb-4 mb-xl-0 league-card">
            <mat-toolbar>
                <span>Main Squad</span>
            </mat-toolbar>
            <div class="card-body " style="display: flex;">
                <div>
                    <div *ngFor="let position of position.reverse()">
                        <p class="position-title">{{position}}</p>
                    </div>
                </div>
                <div cdkDropList [cdkDropListData]="startingSquad" class="player-list"
                    (cdkDropListDropped)="drop($event)" style="width: 100%;">
                    <mat-card class="player-box" *ngFor="let item of startingSquad" cdkDrag>
                        <mat-card-header>
                            <img mat-card-avatar class="avatar-header-image"
                                [src]="item.playerAvatar != null ? item.playerAvatar : defaultAvatar"><br>
                            <mat-card-title
                                style="line-height: 37px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>

        <div class="card mb-4 mb-xl-0 league-card">
            <p>
                <mat-toolbar>
                    <span>Substitute</span>
                </mat-toolbar>
            </p>
            <div class="card-body ">
                <div cdkDropList [cdkDropListData]="substitution" class="player-list"
                    (cdkDropListDropped)="drop($event)">
                    <mat-card class="player-box" *ngFor="let item of substitution" cdkDrag>
                        <mat-card-header>
                            <img mat-card-avatar class="avatar-header-image"
                                [src]="item.playerAvatar != null ? item.playerAvatar : defaultAvatar"><br>
                            <mat-card-title
                                style="line-height: 37px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>