.line-up-containner {
    margin: 0;

    .card {
        box-shadow: 0 0.15rem 1.75rem 0 rgb(33 40 50 / 15%);
    }

    .card .card-header {
        font-weight: 500;
    }

    .card-header:first-child {
        border-radius: 0.35rem 0.35rem 0 0;
    }

    .card-header {
        padding: 1rem 1.35rem;
        margin-bottom: 0;
        background-color: rgba(33, 40, 50, 0.03);
        border-bottom: 1px solid rgba(33, 40, 50, 0.125);
    }

    .card-body {

        .line-up-field {
            width: 100%;
            height: 640px;
            margin: 0;
            background-image: url('../../../../assets/image/Field.png');
            background-color: #cccccc;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 88%;
            position: relative;
        }
    }

}

.player-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.player-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    width: 100%;
}

.player-position {
    display: block;
    padding: 0;
    margin: 0 auto;
    border: none;
    text-align: center;
    cursor: move;
    // background: none;
    font-size: 14px;
    width: 150px;
    box-shadow: none;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.player-box:last-child {
    border: none;
}

.player-list.cdk-drop-list-dragging .player-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.player-list.cdk-drop-list-dragging .player-positon:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.avatar-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    height: 50px;
    width: 50px;
    margin: 2px 0px 0px 2px;
}

.player-header-image {
    height: 70px;
    width: 70px;
    margin: 0 auto;
}