
.match-event-info {
    position: relative;
    height: 117px;
    .match-event {
        margin: 0;
        .event-content {
            width: 300px;
            display: flex;
        }

        .event-time {
            margin: 30px 20px;
            width: 50px;
            text-align: center;
        }

    }

    .vl {
        border-left: 1px solid #747474;
        height: 40px;
        position: absolute;
        left: 50%;
    }
    .header-image{
        width: 30px;
        height: 30px;
        margin-top: 7px;
    }
}

.add-button{
    margin-top: 10px;
    margin-bottom: 10px;
}