<p>
    <mat-toolbar class="card">
        <span>Player's info</span>
    </mat-toolbar>
</p>
<div *ngIf="playerInfo">
<form [formGroup]="form">
    <div class="club-detail-container container">
        <mat-card class="example-card">

            <mat-card-header>
                <br />
                <mat-card-subtitle> </mat-card-subtitle>
            </mat-card-header>

            <mat-card-content>
                <div class="row">
                    <div class="col-xl-3">
                        <div class="card mb-4 mb-xl-0">
                            <div class="card-header">Player's Profile Picture</div>
                            <div class="card-body text-center">
                                <img class="img-account-profile rounded-circle mb-2" 
                                [src]="playerInfo.avatar != null ? playerInfo.avatar : defaultAvatar" alt="Player's Pic"
                                >
                                <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                            </div>
                        </div>

                        <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
                        <br/>
                        <div class="card mb-4 mb-xl-0 league-card">
                            <div class="card-header">Joined Club</div>
                            <div class="card-body ">
                                <div class="player-list">
                                    <mat-card class="player-box" *ngFor="let item of playerClub">
                                        <mat-card-header>
                                            <div mat-card-avatar class="avatar-header-image">
                                                <img class="avatar-header-image rounded-circle mb-2" 
                                                [src]="item.clubLogo != null ? item.clubLogo : defaultLogo" alt="Club's Pic"
                                                >
                                            </div>
                                            <mat-card-title
                                                style="line-height: 37px; margin-bottom: 0;" > 
                                                {{item.clubName}} - {{item.number}}</mat-card-title>
                                        </mat-card-header>
                                    </mat-card>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-9">

                        <div class="card mb-4">
                            <div class="card-header">Player Details</div>
                            <div class="card-body">

                                <div class="mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Full name</mat-label>
                                        <input matInput formControlName="name">

                                    </mat-form-field>
                                </div>
                                <div class=" mb-3">
                                    <!-- <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Nick name</mat-label>
                                            <input matInput formControlName="nickName">
                                        </mat-form-field>
                                    </div> -->
                                    <!-- <div class="col-md-6"> -->
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Date Of Birth</mat-label>
                                            <input matInput [matDatepicker]="picker" formControlName="dob" disabled>
                                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                            <mat-datepicker #picker ></mat-datepicker>

                                        </mat-form-field>
                                    <!-- </div> -->
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">

                                        <mat-form-field class="example-full-width">
                                            <mat-label>Height</mat-label>
                                            <input matInput formControlName="height">

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Weight</mat-label>
                                            <input matInput formControlName="weight">

                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">

                                        <mat-form-field class="example-full-width">
                                            <mat-label>Telephone</mat-label>
                                            <span matPrefix>+84 &nbsp;</span>
                                            <input type="tel" matInput formControlName="phoneNumber"
                                                placeholder="0912345678">
                                            <!-- <mat-icon matSuffix>mode_edit</mat-icon> -->

                                        </mat-form-field>
                                    </div>
                                    <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-label>Address</mat-label>
                                            <input matInput formControlName="address">

                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Email</mat-label>
                                        <input type="email" formControlName="email" matInput
                                            placeholder="Ex. pat@example.com">
                                    </mat-form-field>
                                </div>
                                <div class="mb-3">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Social Cont</mat-label>
                                        <input matInput formControlName="socialCont">
                                    </mat-form-field>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions>


            </mat-card-actions>

        </mat-card>
    </div>
</form>
</div>