<div class="modal-header">
    <h4 class="modal-title">Confirm finished ?</h4>
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      Are you sure you want to finish this match ?
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="onNoClick()">Cancel</button>
      <button type="button" class="btn btn-primary" (click)="onSubmit()">Ok</button>
    </div>