.name-header,
.name-content{
    max-width: 15%; 
    justify-content: center;
}

.date-header,
.date-content{
    max-width: 15%; 
    justify-content: center;
}

.time-header,
.time-content{
    max-width: 10%; 
    justify-content: center;
}
.team1-header,
.team1-content{
    max-width: 30%;
    justify-content: right;
}

.match-header{
    max-width: 70%; 
    justify-content: center;
}
.match-content{
    max-width: 70%; 
    justify-content: center;
}

.team2-header,
.team2-content{
    max-width: 10%;
    justify-content: left;
}

.round-header,
.round-content{
    max-width: 5%; 
    justify-content: center;
}

.stadium-header,
.stadium-content{
    max-width: 30%; 
    justify-content: center;
}

.avatar-header-image {
    background-size: cover;
    height: 35px;
    width: 35px;
    margin: auto;
}