<div class="club-detail-container">
    <div class="club-detail-cover">

    </div>
    <div class="club-detail-info row justify-content-center">
        <div class="col-8">
            <mat-card class="club-detail-card">
                <mat-card-header>
                    <div mat-card-avatar class="club-detail-logo"></div>
                    <div class="club-detail-title">
                        <mat-card-subtitle>TEAM</mat-card-subtitle>
                        <mat-card-title>MANCHESTER UNITED</mat-card-title>
                    </div>
                </mat-card-header>
                <div class="row">
                    <mat-card-actions>
                        <button mat-button>LIKE</button> <br>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                    <mat-card-content>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem perferendis similique beatae odio quaerat praesentium inventore ullam ipsam magni quidem provident perspiciatis, voluptatum aperiam, aspernatur quam quibusdam reiciendis nihil corporis?
                        </p>
                    </mat-card-content>
                </div>


            </mat-card>
        </div>
    </div>
</div>