<div class="card">
    <h4 class="card-header">Change Password</h4>
    <div class="card-body">
        <img src="./../../../../assets/image/Default_pfp.svg.png" style="height: 250px;width: 250px;margin: 30px 30px;" />
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your old password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldpassword" required>
                    <mat-error *ngIf="!form.controls['oldpassword'].valid && form.controls['oldpassword'].touched">
                        {{ getErrorPassword() }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Enter your new password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="newpassword" required>
                    <mat-error *ngIf="!form.controls['newpassword'].valid && form.controls['newpassword'].touched">
                        {{ getErrorNewPassword() }}
                    </mat-error>
                    <mat-error *ngIf="newpass.errors">
                        Must between 6 to 32 characters with 1 uppercase letter and 1 number!
                    </mat-error>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Confirm password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="cfpassword" required>
                    <mat-error *ngIf="form.controls['cfpassword'].errors ">
                        Re-entered password need to be the same with password
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <button [disabled]="loading" type="submit" class="btn btn-primary">
                    <span *ngIf="loading" type="submit" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <a routerLink="../manager/view-profile" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>