<section class="change_pass">
    <div class="change_pass_box">
        <mat-tab-group mat-align-tabs="center" style="width: 100%;">
            <mat-tab label="Change Password">
                <div class="content">
                    <div class="forgot-page">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div style="width: 100%; text-align: center;">
                                <img src="./../../../assets/image/Logo.png" alt="">
                            </div>
                            <h3>
                                CHANGE PASSWORD
                            </h3>
                            <mat-form-field class="change_pass-full-width" appearance="fill">
                                <mat-label>Enter your old password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="oldpassword"
                                    required>
                                <mat-error *ngIf="!form.controls['oldpassword'].valid">
                                    {{ getErrorPassword() }}
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="change_pass-full-width" appearance="fill">
                                <mat-label>Enter your new password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="newpassword"
                                    required>
                                <mat-error *ngIf="!form.controls['newpassword'].valid">
                                    Must between 6 to 32 characters with 1 uppercase letter and 1 number
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="change_pass-full-width" appearance="fill">
                                <mat-label>Confirm password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="cfpassword"
                                    required>
                                <mat-error *ngIf="form.controls['cfpassword'].errors ">
                                    Re-entered password need to be the same with password
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button mat-raised-button color="primary" [disabled]="loading"
                                type="submit" class="submit">
                                Save
                            </button>
                            <a [routerLink]="['../manager/view-profile']" class="btn btn-link"
                                style="margin: auto; display: block;">Cancel</a>
                        </form>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>