<p>
    <mat-toolbar class="card">
        <span>Incoming Matches</span>
    </mat-toolbar>
</p>
<div class="incoming-match-container">
    <div>
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <ng-container matColumnDef="Club">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Club </th>
                <td mat-cell *matCellDef="let element"> {{element.clubName}} </td>
            </ng-container>

            <ng-container matColumnDef="Against">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Against </th>
                <td mat-cell *matCellDef="let element"> {{element.against}} </td>
            </ng-container>

            <ng-container matColumnDef="League">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> League </th>
                <td mat-cell *matCellDef="let element"> {{element.leagueName}} </td>
            </ng-container>

            <ng-container matColumnDef="Match Date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Match Date </th>
                <td mat-cell *matCellDef="let element"> {{element.matchDate}} </td>
            </ng-container>

            <ng-container matColumnDef="Time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
                <td mat-cell *matCellDef="let element"> {{element.matchTime}} </td>
            </ng-container>

            <ng-container matColumnDef="Round">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Round </th>
                <td mat-cell *matCellDef="let element"> {{element.round}} </td>
            </ng-container>

            <ng-container matColumnDef="Stadium">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Stadium </th>
                <td mat-cell *matCellDef="let element"> {{element.stadium}} </td>
            </ng-container>

            <ng-container matColumnDef="Home/Away">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Home / Away </th>
                <td mat-cell *matCellDef="let element"> {{element.ha}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"
                (click)="navigateToEditLineUp(element.squadId)"></tr>
        </table>

        <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
    </div>
</div>