<p>player-info works!</p>
<mat-card class="example-card">
    <mat-card-header>

        <mat-card-title>Player Info </mat-card-title>
        <br />
        <mat-card-subtitle> </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <div class="row">
            <div class="col-xl-3">
                <div class="card mb-4 mb-xl-0">
                    <div class="card-header">Player's Profile Picture</div>
                    <div class="card-body text-center">
                        <img class="img-account-profile rounded-circle mb-2"
                            src="./../../../../assets/image/Rashford.png" alt="">
                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5 MB</div>
                         <!-- <button class="btn btn-primary" type="button">Upload new image</button> -->
                    </div>
                </div>

                <!-- <img mat-card-image src="" alt="Photo of a Shiba Inu"> -->
            </div>
            <div class="col-xl-9">

                <div class="card mb-4">
                    <div class="card-header">Player Details</div>
                    <div class="card-body">
                        <form [formGroup]="form">
                            <div class="mb-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Full name</mat-label>
                                    <input matInput formControlName="name" >
                                    
                                </mat-form-field>
                            </div>

                            <div class="mb-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Nick name</mat-label>
                                    <input matInput formControlName="nickName" >

                                </mat-form-field>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width">
                                        <mat-label>Num</mat-label>
                                        <input matInput formControlName="number" >
                                        
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Date Of Birth</mat-label>
                                        <input matInput formControlName="dob">
                                        
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width">
                                        <mat-label>Height</mat-label>
                                        <input matInput formControlName="height">
                                        
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Weight</mat-label>
                                        <input matInput formControlName="weight">
                                        
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">

                                    <mat-form-field class="example-full-width">
                                        <mat-label>Telephone</mat-label>
                                        <span matPrefix>+84 &nbsp;</span>
                                        <input type="tel" matInput formControlName="phoneNumber" placeholder="0912345678">
                                        <mat-icon matSuffix>mode_edit</mat-icon>
                                      
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width">
                                        <mat-label>Address</mat-label>
                                        <input matInput formControlName="address">
                                        
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="mb-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Email</mat-label>
                                    <input type="email" formControlName="email" matInput
                                        placeholder="Ex. pat@example.com">
                                </mat-form-field>
                            </div>
                            <div class="mb-3">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Social Cont</mat-label>
                                    <input matInput formControlName="socialCont">
                                </mat-form-field>
                            </div>
                        
                            <button class="btn btn-primary" type="submit">Save changes</button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </mat-card-content>

    <mat-card-actions>
        <a  class="btn btn-primary right" type="button">Back</a>
        <a class="btn btn-warn right" type="button">Change Pass</a>


    </mat-card-actions>

</mat-card>