
<div *ngIf="clubListByUser">
    <div class="container">
        <div class="row">
            <div *ngFor="let club of clubListByUser" class="col-sm-3">
                <div class="list-container">
                    <a  style="cursor: pointer;">
                        <mat-card class="league-list-card">

                            <mat-card-title>{{club.clubName}}</mat-card-title>
                            <mat-card-subtitle>{{club.managerName}}</mat-card-subtitle>
                            <img mat-card-avatar class="league-header-image"
                            [src]="club.logo != null ? club.logo : defaultLogo" alt="Club's Pic">
                            <mat-card-actions>
                                <button mat-button (click)="sendRegistration(club.clubId)">Choose</button>
                            </mat-card-actions>
                        </mat-card>
                    </a>
                </div>
            </div>
          
        </div>
    </div>
</div>