.example-card {
    max-width: 500px;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    position: relative;
    height: 893px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-group input {
    width: 320px;
}
.bg-container{
    background: url('./../../../assets/image/cover.jpg');
    width: 100%;
    height: 893px;
}