.example-container {
    position: absolute;
    top: 70px;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 5px;
}

mat-drawer {
    width: 300px;
    background-color: #20283C;
    color: #eee;
}

.mat-form-field+.mat-form-field {
    margin-left: 8px;
}