<div class="card">
    <h4 class="card-header">Account's Name</h4>
    <div class="card-body">
        <img src="#" style="height: 250px;width: 250px;margin: 30px 30px;"/>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="example-container">
                <mat-form-field appearance="fill">
                    <mat-label>Enter your old password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required>
                    <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.oldpassword.errors.required">Old password is required</div>
                    </div>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                    <mat-label>Enter your new password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required>
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">New password is required</div>
                    </div>
                    </mat-form-field>
                    <mat-form-field appearance="fill">
                    <mat-label>Confirm password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required>
                    <div *ngIf="submitted && f.cfpassword.errors" class="invalid-feedback">
                        <div *ngIf="f.cfpassword.errors.required">Confirm password is required</div>
                    </div>
                    </mat-form-field>
                </div>
            <div class="form-group" >
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Save
                </button>
                <a routerLink="../profile" class="btn btn-link">Cancel</a>
            </div>
        </form>
    </div>
</div>


