<div class="modal-header">
    <h4 class="modal-title" style="font-size: 20px;">Confirm deleted ?</h4>
    <button type="button" class="close" aria-label="Close" (click)="onNoClick()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="font-size: 20px">
    Are you sure you want to delete this player ?
  </div>
  <div class="modal-footer">
    <button mat-raised-button color="warn"  (click)="onNoClick()">Cancel</button>
    <button mat-raised-button color="primary"  (click)="onSubmit()">Ok</button>
  </div>