<section class="forgot_pass">
    <div class="forgot_pass_box">
        <mat-tab-group mat-align-tabs="center" style="width: 100%;">
            <mat-tab label="Forgot Password">
                <div class="content">
                    <div class="forgot-page">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div style="width: 100%; text-align: center;">
                                <img src="./../../../assets/image/Logo.png" alt="">
                            </div>
                            <h3>
                                FORGOT PASSWORD
                            </h3>
                            <mat-form-field class="forgot_pass-full-width" appearance="fill">
                                <mat-label>Enter Your Email</mat-label>
                                <input matInput type="email" formControlName="email" placeholder="example@web.com" />
                                <mat-error *ngIf="!form.controls['email'].valid">
                                    Email is required
                                </mat-error>
                            </mat-form-field>
                            <button mat-raised-button class="submit" type="submit" mat-raised-button
                                color="primary">Send</button>
                            <a [routerLink]="['/login']" class="btn btn-link"
                                style="margin: auto; display: block;">Back To Login</a>
                        </form>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>