<p>
    <mat-toolbar class="card">
        <span>League List</span>
    </mat-toolbar>
</p>

<section class="landing-banner">
    <div class="container" style="    margin: 0 auto ;">
        <div class="col-sm-8 col-xs-12 text-center nav-search">
            <!-- <form action="" method="">
                <div class="form-group">
                    <input type="text" class="form-control" name="key" placeholder="League's Name">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>
            </form> -->

            <form class="league-list-form">

                <mat-form-field class="league-list-full-width" style="flex: 1;">
                    <mat-label>Search by League's name</mat-label>
                    <input matInput type="text" placeholder="Enter league name">
                    <mat-icon matSuffix>search</mat-icon>
                </mat-form-field>

            </form>
        </div>
    </div>
</section>


<div class="container">
    <div class="row">
        <div *ngFor="let leagues of leagueListByUser" class="col-sm-3">
            <div class="list-container">
                <a (click)="navigateToLeagueDetail(leagues.leagueId)" style="cursor: pointer;">
                    <mat-card class="league-list-card">

                        <mat-card-title>
                            {{ leagues.leagueName.length > 18 ? leagues.leagueName.substring(0,18)+"..." :
                            leagues.leagueName }}

                        </mat-card-title>
                        <mat-card-subtitle>
                            {{ leagues.location.length > 18 ? leagues.location.substring(0,18)+"..." :
                            leagues.location }}
                        </mat-card-subtitle>
                        <img mat-card-avatar class="league-header-image"
                            [src]="leagues.logo != null ? leagues.logo : defaultLogo" alt="Club's Pic">

                    </mat-card>
                </a>
            </div>
        </div>
    </div>
    <mat-paginator class="league-paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>