.list-fee {
    height: 500px;
    overflow: auto;

    table {
        width: 100%;
        box-shadow: none;

        ::ng-deep .mat-form-field-wrapper {
            margin-bottom: -1.25em;
        }
    }

    tr.mat-footer-row {
        font-weight: bold;
    }

    .mat-table-sticky {
        border-top: 1px solid #e0e0e0 !important;
    }


}

.time-header,
.time-content {
    max-width: 70px;

}

.example-loading-shade {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}