table {
    width: 100%;
}

.avatar-header-image {
    background-size: cover;
    height: 35px;
    width: 50px;

}

.name-header,
.name-content {
    max-width: 20%;
    justify-content: left;
}

.date-header,
.date-content {
    max-width: 15%;
    justify-content: center;
}

.time-header,
.time-content {
    max-width: 10%;
    justify-content: center;
}

.team1-header,
.team1-content {
    max-width: 30%;
    justify-content: left;
}

.round-header,
.round-content {
    max-width: 10%;
    justify-content: center;
}

.stadium-header,
.stadium-content {
    max-width: 25%;
    justify-content: center;
}

.ha-header,
.ha-content {
    max-width: 10%;
    justify-content: center;
}