<div class="club-search">
	<form action="#">
		<input type="text" placeholder="Club's Name" name="club-search-bar">		
		<button type="submit"><mat-icon>search</mat-icon></button>
	</form>
</div>	
<div class="manager-search">
	<p><b>Manager</b></p>
	<form action="#">
		<input type="text" name="manager-search-bar">
	</form>
</div>
<div class="club-list">
    <div>
        <b>Club's Name</b><br>
        Manager: Name<br>
        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1024px-Man_Utd_FC_.svg.png" alt="Club Image"><br>
        <button>Invite Club</button>
    </div>
    <div>
        <b>Club's Name</b><br>
        Manager: Name<br>
        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1024px-Man_Utd_FC_.svg.png" alt="Club Image"><br>
        <button>Invite Club</button>
    </div>
    <div>
        <b>Club's Name</b><br>
        Manager: Name<br>
        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1024px-Man_Utd_FC_.svg.png" alt="Club Image"><br>
        <button>Invite Club</button>
    </div>
    <div>
        <b>Club's Name</b><br>
        Manager: Name<br>
        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1024px-Man_Utd_FC_.svg.png" alt="Club Image"><br>
        <button>Invite Club</button>
    </div>
    <div>
        <b>Club's Name</b><br>
        Manager: Name<br>
        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1024px-Man_Utd_FC_.svg.png" alt="Club Image"><br>
        <button>Invite Club</button>
    </div>
    <div>
        <b>Club's Name</b><br>
        Manager: Name<br>
        <img src="https://upload.wikimedia.org/wikipedia/vi/thumb/a/a1/Man_Utd_FC_.svg/1024px-Man_Utd_FC_.svg.png" alt="Club Image"><br>
        <button>Invite Club</button>
    </div>
</div>
<div class="pagination">
	<button>Previous</button>
	<button>1</button>
	<button>2</button>
	<button>...</button>
	<button>Next</button>		
</div>
