<section class="landing-banner">
    <form [formGroup]="filterForm">
        <div class="container">
            <div class="col-sm-8 col-xs-12 text-center nav-search" style="display: flex; margin: 0 auto;">
                <div style="flex: 1;">
                    <mat-form-field class="club-list-full-width">
                        <mat-label>Search by Club's Name</mat-label>
                        <input matInput type="text" formControlName="search" placeholder="Enter Club Name">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div>
                <!-- <div style="flex: 1;">
                    <mat-form-field class="club-list-full-width">
                        <mat-label>Search by Manager</mat-label>
                        <input matInput type="text" formControlName="managerName" placeholder="Enter Manager Name">
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                </div> -->
            </div>
        </div>
    </form>
</section>

<div *ngIf="clubList">
    <div class="container">
        <div class="row">
            <div *ngFor="let club of clubList.clubs" class="col-sm-3">
                <div class="list-container">
                    <a (click)="navigateToClubDetail(club.clubId)" style="cursor: pointer;">
                        <mat-card class="club-list-card">

                            <mat-card-title>
                                {{ club.clubName.length > 18 ? club.clubName.slice(0,18)+"..." :
                                club.clubName }}
                            </mat-card-title>
                            <mat-card-subtitle>
                                {{ club.managerName.length > 18 ? club.managerName.slice(0, 15) + '...' : club.managerName }}
                            </mat-card-subtitle>
                            <img mat-card-avatar class="club-header-image"
                                [src]="club.logo != null ? club.logo : defaultLogo" alt="club logo">
                            <mat-card-actions>

                            </mat-card-actions>
                        </mat-card>
                    </a>
                    <div *ngIf="userRole == 'LEAGUE_MANAGER'">
                        <button mat-raised-button class="club-action" (click)="openSendInvitation(club.clubId)"
                            color="primary">Invite</button>
                    </div>
                </div>
            </div>
            <div class="club-paginator">
                <mat-paginator class="club-paginator" [length]="clubList.total" [pageSize]="8"
                    [pageSizeOptions]="[5, 8, 25, 100]" (page)="pageEvent = $event; onPaginateChange($event)"
                    showFirstLastButtons>
                </mat-paginator>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>