<section class="landing-banner">
    <div class="container">
        <div class="col-sm-12 col-xs-12 text-center">
            <h1></h1>
            <form action="" method="">
                <div class="form-group">                           
                    <input type="text" class="form-control" name="key" placeholder="League's Name">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
    </div>
</section>

<div>
    <mat-form-field class="example-form-field" appearance="fill">
        <mat-label></mat-label>
        <mat-date-range-input
          [formGroup]="campaignOne"
          [rangePicker]="campaignOnePicker"
          [comparisonStart]="campaignTwo.value.start"
          [comparisonEnd]="campaignTwo.value.end">
          <input matStartDate placeholder="Start date" formControlName="start">
          <input matEndDate placeholder="End date" formControlName="end">
        </mat-date-range-input>
        <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="campaignOnePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #campaignOnePicker></mat-date-range-picker>
      </mat-form-field>
      
     
</div>


<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>1/1/2023 - 6/1/2023</mat-card-subtitle>
                    <mat-card-title>FPT League</mat-card-title>
                    <mat-card-subtitle>Hai Bà Trưng - Hà Nội</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image" src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-paginator class="league-paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>