<section class="landing-banner">
    <div class="container" style="    margin-top: 45px;">
        <div class="col-sm-12 col-xs-12 text-center nav-search">
            <!-- <form action="" method="">
                <div class="form-group">
                    <input type="text" class="form-control" name="key" placeholder="League's Name">
                    <button type="submit" class="btn"><i class="fa fa-search"></i></button>
                </div>
            </form> -->

            <form class="example-form">
                <div class="input-group">
                    <mat-form-field class="example-full-width">
                        <!-- <mat-label>Search</mat-label> -->
                        <input type="tel" matInput>
                        <mat-icon matSuffix>search</mat-icon>
                    </mat-form-field>
                    <div style="line-height: 85px; margin-left: 25px;"><button mat-raised-button color="warn">Search</button></div>
                </div>
            </form>
        </div>
    </div>
</section>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-xs-6 justify-content-center">
            
            <mat-form-field appearance="fill">
                <mat-label>From</mat-label>
                <input matInput [matDatepicker]="from">
                <mat-datepicker-toggle matSuffix [for]="from"></mat-datepicker-toggle>
                <mat-datepicker #from></mat-datepicker>
            </mat-form-field>



            <mat-form-field appearance="fill" style="margin-left: 20px;">
                <mat-label>To</mat-label>
                <input matInput [matDatepicker]="to">
                <mat-datepicker-toggle matSuffix [for]="to"></mat-datepicker-toggle>
                <mat-datepicker #to></mat-datepicker>
            </mat-form-field>


        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div *ngFor="let leagues of leagueList" class="col-sm-3">
            <div class="list-container">
                <mat-card class="league-list-card">
                    <mat-card-subtitle>{{leagues.startDate}} - {{leagues.endDate}}</mat-card-subtitle>
                    <mat-card-title>{{leagues.leagueName}}</mat-card-title>
                    <mat-card-subtitle>{{leagues.location}}</mat-card-subtitle>
                    <img mat-card-avatar class="league-header-image"
                        src="./../../../../assets/image/premier-league-new-logo-D22A0CE87E-seeklogo.com.png"
                        alt="Photo of a Shiba Inu">
                    <mat-card-actions>
                        <button mat-button>Join</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
    <mat-paginator class="league-paginator" [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
    </mat-paginator>
</div>