<div *ngIf="viewMatchSquad">
    <div class="line-up-containner row" cdkDropListGroup>
        <div class="col-xl-2">
            <div class="card mb-4 mb-xl-0 league-card">
                <p>
                    <mat-toolbar>
                        <span>Substitute</span>
                    </mat-toolbar>
                </p>
                <div class="card-body ">
                    <div class="player-list">
                        <mat-card class="player-box" *ngFor="let item of homeSubstitution">
                            <div *ngIf="item != undefined">
                                <mat-card-header>
                                    <div mat-card-avatar class="avatar-header-image"></div>
                                    <mat-card-title
                                        style="line-height: 36px; font-size: 15px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                                </mat-card-header>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card mb-4">
                <mat-toolbar>
                    <span>Line-up</span>
                </mat-toolbar>
                <div class="card-body">
                    <!-- <div class="line-up-field"> -->
                    <div class="player-list line-up-field row justify-content-center">
                        <div class="positon-st">
                            <mat-card class="player-box player-position">
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-subtitle
                                    style="line-height: 40px; margin-bottom: 0;">{{homeStartingSquad[6].playerName}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <div class="positon-lm">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{homeStartingSquad[5].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                            <div style="width: 30px;"></div>
                            <div class="positon-rm">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{homeStartingSquad[4].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <div class="positon-lb">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{homeStartingSquad[3].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                            <div style="width: 70px;"></div>
                            <div class="positon-rb">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{homeStartingSquad[2].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                        </div>

                        <div class="positon-cb">
                            <mat-card class="player-box player-position">
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-subtitle
                                    style="line-height: 40px; margin-bottom: 0;">{{homeStartingSquad[1].playerName}}</mat-card-subtitle>
                            </mat-card>
                        </div>

                        <div class="positon-gk">
                            <mat-card class="player-box player-position">
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-subtitle
                                    style="line-height: 40px; margin-bottom: 0;">{{homeStartingSquad[0].playerName}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-4">
            <div class="card mb-4">
                <mat-toolbar>
                    <span>Line-up</span>
                </mat-toolbar>
                <div class="card-body">
                    <!-- <div class="line-up-field"> -->
                    <div class="player-list line-up-field row justify-content-center">
                        <div class="positon-st">
                            <mat-card class="player-box player-position">
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-subtitle
                                    style="line-height: 40px; margin-bottom: 0;">{{awayStartingSquad[6].playerName}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                        <div style="display: flex; justify-content: center;">
                            <div class="positon-lm">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{awayStartingSquad[5].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                            <div style="width: 30px;"></div>
                            <div class="positon-rm">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{awayStartingSquad[4].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                        </div>

                        <div style="display: flex; justify-content: center;">
                            <div class="positon-lb">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{awayStartingSquad[3].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                            <div style="width: 70px;"></div>
                            <div class="positon-rb">
                                <mat-card class="player-box player-position">
                                    <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                    <mat-card-subtitle
                                        style="line-height: 40px; margin-bottom: 0;">{{awayStartingSquad[2].playerName}}</mat-card-subtitle>
                                </mat-card>
                            </div>
                        </div>

                        <div class="positon-cb">
                            <mat-card class="player-box player-position">
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-subtitle
                                    style="line-height: 40px; margin-bottom: 0;">{{awayStartingSquad[1].playerName}}</mat-card-subtitle>
                            </mat-card>
                        </div>

                        <div class="positon-gk">
                            <mat-card class="player-box player-position">
                                <img mat-card-avatar class="player-header-image" [src]="imgSrc"><br>
                                <mat-card-subtitle
                                    style="line-height: 40px; margin-bottom: 0;">{{awayStartingSquad[0].playerName}}</mat-card-subtitle>
                            </mat-card>
                        </div>




                    </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="col-xl-2">

            <div class="card mb-4 mb-xl-0 league-card">
                <p>
                    <mat-toolbar>
                        <span>Substitute</span>
                    </mat-toolbar>
                </p>
                <div class="card-body ">
                    <div class="player-list">
                        <mat-card class="player-box" *ngFor="let item of awaySubstitution">
                            <div *ngIf="item != undefined">
                                <mat-card-header>
                                    <div mat-card-avatar class="avatar-header-image"></div>
                                    <mat-card-title
                                        style="line-height: 36px; font-size: 15px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                                </mat-card-header>
                            </div>
                        </mat-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>