.page-header h1.pull-left{
    /* margin-top: 27px; */
    line-height: 60px;
    font-size: 24px;
    font-weight: normal;
    font-family: 'Source Sans Pro',sans-serif;
    display: inline;
}

.box-content{
    text-align: center;
    padding:30px;
    width: 100%;
    display: block;
    border: 1px solid black;
    border-radius: 3px;
}

.example-full-width{
    width: 100%;
    // margin-left: 10px;
    // margin-right: 10px;
}
// .pull-left{
//     float: left;
// }

.page-header{
    margin: 40px 0 20px;;
}

.bottom-tab{
    justify-content: right;
    text-align: right;
    margin-top: 50px;
    margin-right: 20px;
}

.form-actions {
    background-color: #f4f4f4;
    padding: 20px;
    border-top: 1px solid #e5e5e5;
    margin-top: 20px;
}
.img-account-profile {
    height: 10rem;
}
