<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-toolbar class="card">
        <span style="text-transform: uppercase;">Create club</span>
        <div class="create-league-action">
            <button mat-raised-button type="submit" type="submit" color="primary">Create</button>
        </div>
    </mat-toolbar>

    <div class="create-league-containner row">
        <div class="col-xl-9">
            <div class="card mb-4">
                <div class="card-body ">
                    <div class="card-header">Club basic Infomation</div>
                    <div class="" style="margin: 0 15px;">
                        <label class="create-league-label">Your Club Name: </label>
                        <div>
                            <mat-form-field appearance="" class="create-league-input">
                                <mat-label>Enter Club Name</mat-label>
                                <input matInput formControlName="clubName">
                                <mat-error
                                    *ngIf="!form.controls['clubName'].valid && form.controls['clubName'].touched">
                                    {{ getErrorClubName() }}
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                    <div class="row gx-3 mb-3" style="margin: 0;">
                        

                        <div class="league-input-number col-md-5">
                            <label class="create-league-label">Phone Number: </label>
                            <div>
                                <mat-form-field appearance="">
                                    <mat-label>Ex. 0912345678</mat-label>
                                    <span matPrefix>+84 &nbsp;</span>
                                    <input matInput formControlName="phoneNumber">
                                    <mat-error
                                        *ngIf="!form.controls['phoneNumber'].valid && form.controls['phoneNumber'].touched">
                                        {{ getErrorPhoneNumber() }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="league-input-number col-md-5">
                            <label class="create-league-label">Email: </label>
                            <div>
                                <mat-form-field appearance="">
                                    <mat-label>Ex. club@gmail.com</mat-label>
                                    <input matInput  formControlName="email">
                                    <mat-error *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
                                        {{ getErrorEmail() }}
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>


                    <div class="" style="margin: 0 15px;">
                        <label class="create-league-label">Fanpage: </label>
                        <div>
                            <mat-form-field appearance="" class="create-league-input">
                                <mat-label>Enter Fan Page</mat-label>
                                <input matInput formControlName="fanPage">
                                <mat-error *ngIf="!form.controls['fanPage'].valid">
                                    'fanPage' max length is 255 character
                                </mat-error>
                            </mat-form-field>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-xl-3">
            <div class="card mb-4 mb-xl-0 league-card">
                <mat-card class="create-league-card">
                    <div class="league-logo">
                        <img mat-card-avatar class="league-header-image border-gradient" [src]="imgSrc"><br>
                        <p>Upload Logo</p>
                        <input type="file" (change)="showPreview($event)">
                    </div>
                    <div style="text-align: center; margin: 30px 0;">
                        <mat-card-title>{{getControl('clubName').value != null ? getControl('clubName').value :
                            'Your Club Name'}}</mat-card-title>
                        <mat-card-subtitle>{{user != undefined ? user.fullName : ''}}</mat-card-subtitle>
                    </div>

                </mat-card>
            </div>
        </div>
    </div>

</form>