<div class="bg-container">
    <div class="container">
        <mat-card class="example-card">
            <mat-card-content>
                <h3>
                    <span>Enter your new password</span>
                </h3>
            </mat-card-content>
            <mat-card-content>
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <input matInput [type]="hide ? 'password' :'text'" formControlName="newPassword" class="form-control" />
                        <mat-error *ngIf="!form.controls['newPassword'].valid && form.controls['newPassword'].touched">
                           Must between 6 to 32 charactes with 1 uppercase letter ! 
                        </mat-error>
                    </div>
                    <div class="form-group">
                        <input matInput [type]="hide ? 'password' :'text'" formControlName="rePassword" class="form-control" />
                    </div>
                </form>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button type="submit" class="button btn-primary" (click)="onSubmit()" mat-raised-button color="primary">Send</button>
            </mat-card-actions>
            <mat-card-content>
                <a href="#">Back to login</a>
            </mat-card-content>
        </mat-card>
    </div>
</div>