<section class="forgot_pass">
    <div class="forgot_pass_box">
        <mat-tab-group mat-align-tabs="center" style="width: 100%;">
            <mat-tab label="Reset Password">
                <div class="content">
                    <div class="forgot-page">
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div style="width: 100%; text-align: center;">
                                <img src="./../../../assets/image/Logo.png" alt="">
                            </div>
                            <h3>
                                RESET PASSWORD
                            </h3>
                            <mat-form-field class="forgot_pass-full-width" appearance="fill">
                                <mat-label>Enter You New Password</mat-label>
                                <input matInput [type]="hide ? 'password' :'text'" formControlName="newPassword" />
                                <mat-error *ngIf="!form.controls['newPassword'].valid">
                                    Must between 6 to 32 charactes with 1 uppercase letter and 1 number
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="forgot_pass-full-width" appearance="fill" style="margin-top: 10px;">
                                <mat-label>Re-enter Your Password</mat-label>
                                <input matInput input matInput [type]="hide ? 'password' :'text'"
                                    formControlName="rePassword" />
                            </mat-form-field>
                            <button mat-raised-button class="submit" type="submit" mat-raised-button
                                color="primary">Change</button>
                            <a [routerLink]="['/login']" class="btn btn-link"
                                style="margin: auto; display: block;">Back To Login</a>
                        </form>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>