<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav navbar-dark" mode="side" opened="true">
    <mat-accordion>

      <div *ngIf="userRole == 'CLUB_MANAGER'">
        <mat-expansion-panel class="sidenav-item" (opened)="panelOpenState" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a class="panel-title">Club Manager</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a mat-button routerLink="/manager/my-clubs" class="custom-button">My Clubs</a>
          </div>
          <div>
            <a mat-button routerLink="/manager/create-club" class="custom-button">Create Club</a>
          </div>
          <div>
            <a mat-button routerLink="/manager/joined-league" class="custom-button">Joined Leagues</a>
          </div>
          <div>
            <a mat-button routerLink="/manager/incoming-matches" class="custom-button">Incoming Matches</a>
          </div>
        </mat-expansion-panel>
      </div>

      <div *ngIf="userRole == 'LEAGUE_MANAGER'">
        <mat-expansion-panel class="sidenav-item" (opened)="panelOpenState" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a class="panel-title">League Manager</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a mat-button routerLink="/manager/my-league" class="custom-button">My Leagues</a>
          </div>
          <div>
            <a routerLink="/manager/create-league" style="text-decoration: none;">
              <button mat-button class="custom-button">Create League</button>
            </a>
          </div>
        </mat-expansion-panel>
      </div>

      <div class="sidenav-button">
        <a mat-button routerLink="/manager/request-list" class="sidenav-item">
          <p>Request List</p>
        </a>
      </div>

      <div class="sidenav-button">
        <a mat-button routerLink="/manager/view-profile" class="sidenav-item">
          <p>My Profile</p>
        </a>
      </div>
    </mat-accordion>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>

<div class="sidenav-toggle">
  <button mat-flat-button color="primary" (click)="drawer.toggle()">
    <mat-icon aria-hidden="false" aria-label="Example home icon">view_headline</mat-icon>
  </button>
</div>