<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav navbar-dark" mode="side" opened="true">
    <mat-accordion>

      <div *ngIf="userRole == 'CLUB_MANAGER'">
        <mat-expansion-panel class="sidenav-item" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a class="panel-title" href="#">Club Manager</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a mat-button routerLink="/manager/my-clubs" class="custom-button">My Clubs</a>
          </div>
          <div>
            <a mat-button routerLink="/manager/create-club" class="custom-button">Create Club</a>
          </div>
          <div>
            <a mat-button href="#" class="custom-button">Joined Leagues</a>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </div>

      <div *ngIf="userRole == 'LEAGUE_MANAGER'">
        <mat-expansion-panel class="sidenav-item" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <a class="panel-title" href="#">League Manager</a>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div>
            <a mat-button href="#" class="custom-button">My Leagues</a>
          </div>
          <div>
            <a mat-button href="#" class="custom-button">Create Leagues</a>
          </div>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </div>

      <div class="sidenav-button">
        <a mat-button routerLink="/manager/request-list" class="sidenav-item">
          <p>Request List</p>
        </a>
      </div>
      <mat-divider></mat-divider>

      <div class="sidenav-button">
        <a mat-button routerLink="/manager/view-profile" class="sidenav-item">
          <p>My Profile</p>
        </a>
      </div>
      <mat-divider></mat-divider>
    </mat-accordion>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>


  <div class="sidenav-toggle">
    <button mat-flat-button color="primary" (click)="drawer.toggle()">
      <mat-icon aria-hidden="false" aria-label="Example home icon">view_headline</mat-icon>
    </button>
  </div>


</mat-drawer-container>