<div *ngIf="viewMatchSquad">
    <div class="line-up-containner row" cdkDropListGroup>
        <div class="col-xl-7" style="padding: 0; max-width: 750px; margin-right: 33px;">
            <div class="card">
                <mat-toolbar>
                    <span>Line-up</span>
                </mat-toolbar>
                <div class="card-body">
                    <div class="player-list line-up-field" style="position: relative;">
                        <div *ngFor="let player of homeStartingSquad">
                            <mat-card *ngIf="player != undefined" class="player-box player-position"
                                cdkDragBoundary=".line-up-field" [cdkDragFreeDragPosition]="player.coordinate"
                                cdkDragDisabled="true" cdkDrag>
                                <img mat-card-avatar class="player-header-image"
                                    [src]="player.playerAvatar != null ? player.playerAvatar : imgSrc"><br>
                                <mat-card-subtitle>{{player.playerName !=
                                    null ?
                                    player.playerName : '_'}} - {{player.number}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 mb-xl-0 league-card">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header style="background-color: whitesmoke;">
                            <mat-panel-title>
                                <mat-toolbar>
                                    <span>Substitute</span>
                                </mat-toolbar>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="card-body ">
                            <div class="player-list">
                                <mat-card class="player-box" *ngFor="let item of homeSubstitution">
                                    <div *ngIf="item != undefined">
                                        <mat-card-header>
                                            <img mat-card-avatar class="avatar-header-image"
                                                [src]="item.playerAvatar != null ? item.playerAvatar : imgSrc"><br>
                                            <mat-card-title
                                                style="line-height: 36px; font-size: 15px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                                        </mat-card-header>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

        <div class="col-xl-7" style="padding: 0; max-width: 750px;">
            <div class="card">
                <mat-toolbar>
                    <span>Line-up</span>
                </mat-toolbar>
                <div class="card-body">
                    <div class="player-list line-up-field" style="position: relative;">
                        <div *ngFor="let player of awayStartingSquad">
                            <mat-card *ngIf="player != undefined" class="player-box player-position"
                                cdkDragBoundary=".line-up-field" [cdkDragFreeDragPosition]="player.coordinate"
                                cdkDragDisabled="true" cdkDrag>
                                <img mat-card-avatar class="player-header-image"
                                    [src]="player.playerAvatar != null ? player.playerAvatar : imgSrc"><br>
                                <mat-card-subtitle>{{player.playerName !=
                                    null ?
                                    player.playerName : '_'}} - {{player.number}}</mat-card-subtitle>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4 mb-xl-0 league-card">
                <mat-accordion>
                    <mat-expansion-panel [expanded]="true">
                        <mat-expansion-panel-header style="background-color: whitesmoke;">
                            <mat-panel-title>
                                <mat-toolbar>
                                    <span>Substitute</span>
                                </mat-toolbar>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="card-body ">
                            <div class="player-list">
                                <mat-card class="player-box" *ngFor="let item of awaySubstitution">
                                    <div *ngIf="item != undefined">
                                        <mat-card-header>
                                            <img mat-card-avatar class="avatar-header-image"
                                                [src]="item.playerAvatar != null ? item.playerAvatar : imgSrc"><br>
                                            <mat-card-title
                                                style="line-height: 36px; font-size: 15px; margin-bottom: 0;">{{item.playerName}}</mat-card-title>
                                        </mat-card-header>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>
    </div>
</div>