.list-container {
    text-align: center;
    width: 100%;
    margin: 25px 0;
    margin-top: 50px;
    padding: 6px 15px 0;

    .list-id {
        display: block;
        padding: 6px 15px;
        margin-top: 10px;
    }

    .list-img {
        margin-top: -35px;
        position: relative;
    }

    .list-heading {
        margin: 10px 0;
    }
}

.league-list-card {
    max-width: 400px;
}

.league-header-image {
    height: 200px;
    width: 200px;
}

.league-paginator {
    text-align: center;
}

.landing-banner {
    background-color: #b2b2b2;
    background-image: url(./../../../../assets/image/ClubWP.jpg);
    // background-blend-mode: multiply;
    background-size: 115%;
    background-position: 31% 100%;
    width: 100%;
    text-align: center;
    overflow: hidden;
    padding: 60px 0;
    min-height: 300px;
    // max-height: 500px;
    margin-bottom: 10px;
}

.club-list-form {
    min-width: 150px;
    // max-width: 500px;
    // width: 100%;
}

.club-list-full-width {
    width: 80%;
    padding-top: 8px;
}

.nav-search {
    background-color: #fff;
    border-radius: 30px;
}