<div class="example-loading-shade" *ngIf="loading">
    <mat-spinner  [hidden]="!loading"></mat-spinner>
    <!-- <div class="example-rate-limit-reached" *ngIf="isRateLimitReached">
        GitHub's API rate limit has been reached. It will be reset in one minute.
    </div> -->
</div>
<p>
    <mat-toolbar class="card">
        <span> Your Leagues</span>
    </mat-toolbar>
</p>
<div *ngIf="leagueListByUser">
    <div class="container">
        <div class="row">
            <div *ngFor="let league of leagueListByUser" class="col-sm-3">
                <div class="list-container">
                    <mat-card class="league-list-card">
                        <mat-card-title>
                            {{ league.leagueName.length > 18 ? league.leagueName.substring(0,18)+"..." :
                            league.leagueName }}
                        </mat-card-title>
                        <img mat-card-avatar class="league-header-image"
                            [src]="league.logo != null ? league.logo : defaultLogo"
                             alt="League logo">
                        <mat-card-actions>
                            <button mat-button (click)="sendInvitation(league.leagueId)">Join</button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>