<p>
    <mat-toolbar class="card">
        <span>League's Fee</span>
    </mat-toolbar>
</p>
<br />
<div class="league-detail-info row justify-content-center">
    <div class="col-sm-6">
        <p>
            <mat-toolbar class="card">
                <span>Cost Plan</span>
            </mat-toolbar>
        </p>
        <table mat-table class="mat-elevation-z8" style="margin-bottom: 20px;" [dataSource]="plan">
            <ng-container matColumnDef="expenseName">
                <th mat-header-cell *matHeaderCellDef> Fee Name </th>
                <td mat-cell *matCellDef="let element"> {{element.expenseName}} </td>
                <td mat-footer-cell *matFooterCellDef style="font-size: 20px; font-weight: bold;"> Plan Total </td>
            </ng-container>

            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Cost(VND) </th>
                <td mat-cell *matCellDef="let element">{{element.cost}} VND</td>
                <td mat-footer-cell *matFooterCellDef style="font-size: 20px; font-weight: bold;"> {{planCostTotal}} VND
                </td>
            </ng-container>

            <ng-container matColumnDef="expenseKey">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element">{{element.expenseKey}} </td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
    </div>
    <div class="col-sm-6">
        <p>
            <mat-toolbar class="card">
                <span>Actual Cost</span>
            </mat-toolbar>
        </p>
        <table mat-table class="mat-elevation-z8" [dataSource]="actual">
            <ng-container matColumnDef="expenseName">
                <th mat-header-cell *matHeaderCellDef> Fee Name </th>
                <td mat-cell *matCellDef="let element"> {{element.expenseName}} </td>
                <td mat-footer-cell *matFooterCellDef style="font-size: 20px; font-weight: bold;"> Actual Total </td>
            </ng-container>

            <ng-container matColumnDef="cost">
                <th mat-header-cell *matHeaderCellDef> Cost(VND) </th>
                <td mat-cell *matCellDef="let element"> {{element.cost}}</td>
                <td mat-footer-cell *matFooterCellDef style="font-size: 20px; font-weight: bold;"> {{actualCostTotal}}
                    VND</td>
            </ng-container>

            <ng-container matColumnDef="expenseKey">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.expenseKey}}</td>
                <td mat-footer-cell *matFooterCellDef> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
        </table>
        <br />
    </div>
</div>





<mat-toolbar class="card">
    <span>MU</span>
</mat-toolbar>

<div style="background-color: #f8f8f8;">
    <div *ngFor="let matchEvent of matchEvent">
        <div class="match-event-info">
            <div class="match-event row justify-content-center">
                <mat-card *ngIf="matchEvent.isHome" class="event-content" style="justify-content: flex-end;">
                    <mat-card-header>
                        <mat-card-title>{{matchEvent.main.name}}</mat-card-title>
                        <mat-card-subtitle *ngIf="matchEvent.sub != null" style="margin-bottom: 0;">
                            {{matchEvent.sub.name}}</mat-card-subtitle>
                    </mat-card-header>
                    <img *ngIf="matchEvent.eventType == 'Goal'" class="header-image"
                        src="../../../../../assets/image/football-goal-icon.png">
                    <img *ngIf="matchEvent.eventType == 'OwnGoal'" class="header-image"
                        src="../../../../../assets/image/football-ownGoal-icon.png">
                    <img *ngIf="matchEvent.eventType == 'YellowCard'" class="header-image"
                        src="../../../../../assets/image/football-yellowCard-icon.svg.png">
                    <img *ngIf="matchEvent.eventType == 'RedCard'" class="header-image"
                        src="../../../../../assets/image/football-redCard-icon.png">
                </mat-card>
                <div *ngIf="matchEvent.isHome == false" class="event-content"></div>
                <div class="event-time">
                    <span>{{matchEvent.eventTime}}'</span>
                </div>
                <div *ngIf="matchEvent.isHome" class="event-content"></div>
                <div *ngIf="matchEvent.isHome == false" class="event-content">
                    <mat-card class="event-content">
                        <img *ngIf="matchEvent.eventType == 'Goal'" class="header-image"
                            src="../../../../../assets/image/football-goal-icon.png">
                        <img *ngIf="matchEvent.eventType == 'OwnGoal'" class="header-image"
                            src="../../../../../assets/image/football-ownGoal-icon.png">
                        <img *ngIf="matchEvent.eventType == 'YellowCard'" class="header-image"
                            src="../../../../../assets/image/football-yellowCard-icon.svg.png">
                        <img *ngIf="matchEvent.eventType == 'RedCard'" class="header-image"
                            src="../../../../../assets/image/football-redCard-icon.png">
                        <mat-card-header style="text-align: left;">
                            <mat-card-title>{{matchEvent.main.name}}</mat-card-title>
                            <mat-card-subtitle *ngIf="matchEvent.sub != null" style="margin-bottom: 0;">
                                {{matchEvent.sub.name}}</mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                </div>

            </div>
            <div class="vl"></div>
        </div>
    </div>
</div>