<p>
    <mat-toolbar class="card">
        <span>League</span>
        <div class="league-delete-button">
            <div *ngIf="userRole == 'LEAGUE_MANAGER'">
                <button mat-raised-button style="width: 120px;" color="warn"
                    (click)="openDeleteLeaguePopup(leagueDetail.leagueId)">Delete
                </button>
            </div>
            <!-- <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

                <button mat-menu-item>
                    <button mat-raised-button style="width: 120px;" color="primary"
                        (click)="openEditLeague(leagueDetail.leagueId)">Edit</button>
                </button>
                <button mat-menu-item>
                    <button mat-raised-button style="width: 120px;" color="warn"
                        (click)="openDeleteLeaguePopup(leagueDetail.leagueId)">Delete</button>
                </button>
            </mat-menu> -->

        </div>
    </mat-toolbar>
</p>

<div class="league-detail-container">
    <!-- <div class="league-detail-cover">

    </div> -->
    <div *ngIf="leagueDetail">
        <div class="league-detail-info row justify-content-center">
            <div class="col-10">
                <mat-card class="league-detail-card">
                    <mat-card-header>
                        <div mat-card-avatar class="league-detail-logo">
                            <img mat-card-avatar class="league-detail-logo"
                                [src]="leagueDetail.logo != null ? leagueDetail.logo : defaultLogo" alt="League's Pic">

                        </div>
                        <div class="league-detail-title">
                            <mat-card-subtitle>COMPETITION</mat-card-subtitle>
                            <mat-card-title>{{leagueDetail.leagueName}}</mat-card-title>
                        </div>
                    </mat-card-header>
                    <br>
                    <section class="league-detail-container">
                        <div class="left-detail" style="text-align: center;">
                            <p class="league-detail-content">Start date: {{leagueDetail.startDate | date: 'dd/MM/yyyy'}}
                            </p>
                            <p class="league-detail-content">Number of teams: {{leagueDetail.noParticipate}}</p>
                            <p class="league-detail-content">Tournament type: {{leagueDetail.leagueType}}</p>
                            <p class="league-detail-content">League manager: {{leagueDetail.managerName}}</p>
                            <p class="league-detail-content">Fanpage:
                                <a *ngIf="leagueDetail.fanpage != null" href="{{leagueDetail.fanpage}}"
                                    target="_blank">{{leagueDetail.leagueName}}</a>
                            </p>
                        </div>
                        <div class="right-detail" style="text-align: center;">
                            <p class="league-detail-content">End date: {{leagueDetail.endDate | date: 'dd/MM/yyyy'}}</p>
                            <p class="league-detail-content">Description: </p>
                            <p class="league-detail-content">Number of players in squad: {{leagueDetail.maxNoPlayer}}
                            </p>
                            <p class="league-detail-content">Prize pool: {{leagueDetail.totalPrize}}</p>
                            <p class="league-detail-content">Location: {{leagueDetail.location}}</p>
                        </div>
                    </section>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xs-4 justify-content-center">
                                <div style="line-height: 10px; margin-top: 25px; padding-inline: 50px;">
                                    <div *ngIf="userRole == 'LEAGUE_MANAGER'">
                                        <button mat-raised-button style="width: 120px;" color="primary"
                                            (click)="openEditLeague(leagueDetail.leagueId)">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <mat-card-content class="league-detail-content">
                            <mat-tab-group>
                                <mat-tab label="Schedule">
                                    <ng-template matTabContent>
                                        <app-league-schedule [leagueName]="leagueDetail.leagueName"></app-league-schedule>
                                    </ng-template>
                                </mat-tab>
                                <mat-tab label="Clubs">
                                    <ng-template matTabContent>
                                        <app-joined-clubs></app-joined-clubs>
                                    </ng-template>
                                </mat-tab>
                                <mat-tab label="League Statistic">
                                    <ng-template matTabContent>
                                        <app-league-statistic [leagueId]="leagueId"
                                            [leagueType]="leagueDetail.leagueType"></app-league-statistic>

                                    </ng-template>
                                </mat-tab>
                                <mat-tab label="Fee">
                                    <ng-template matTabContent>
                                        <app-league-fee></app-league-fee>

                                    </ng-template>
                                </mat-tab>
                                <mat-tab *ngIf="leagueDetail.leagueType == 'KO' && userRole == 'LEAGUE_MANAGER'" label="League Settings">
                                    <ng-template matTabContent>
                                        <app-league-settings></app-league-settings>

                                    </ng-template>
                                </mat-tab>
                            </mat-tab-group>
                        </mat-card-content>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</div>