<div>
    <mat-table [dataSource]="listMatch" class="mat-elevation-z8">
        <!-- League Name Column -->
        <ng-container matColumnDef="League Name">
            <mat-header-cell *matHeaderCellDef class="name-header"> League Name </mat-header-cell>
            <mat-cell *matCellDef="let element" class="name-content">
                {{element.leagueName}}
            </mat-cell>
        </ng-container>
        <!-- Date Column -->
        <ng-container matColumnDef="Date">
            <mat-header-cell *matHeaderCellDef class="date-header"> Date </mat-header-cell>
            <mat-cell *matCellDef="let element" class="date-content">
                {{element.matchDate | date:'dd/MM/yyyy'}}
            </mat-cell>
        </ng-container>
        <!-- Time Column -->
        <ng-container matColumnDef="Time">
            <mat-header-cell *matHeaderCellDef class="time-header"> Time </mat-header-cell>
            <mat-cell *matCellDef="let element" class="time-content">
                {{element.matchTime}}
            </mat-cell>
        </ng-container>
        <!-- Team1 Column -->
        <ng-container matColumnDef="Team1">
            <mat-header-cell *matHeaderCellDef class="team1-header"> </mat-header-cell>
            <mat-cell *matCellDef="let element" class="team1-content">
                {{element.home.name}}
            </mat-cell>
        </ng-container>
        <!-- Match Column -->
        <ng-container matColumnDef="Match">
            <mat-header-cell *matHeaderCellDef class="match-header"> Match </mat-header-cell>
            <mat-cell *matCellDef="let element" class="match-content">
                <div mat-card-avatar class="avatar-header-image">
                    <img mat-card-avatar class="avatar-detail-logo"
                        [src]="element.home.logo != null ? element.home.logo : defaultLogo" alt="Club's Pic">
                </div>

                {{element.home.score}} - {{element.away.score}}
                <div mat-card-avatar class="avatar-header-image">
                    <img mat-card-avatar class="avatar-detail-logo"
                        [src]="element.away.logo != null ? element.away.logo : defaultLogo" alt="Club's Pic">
                </div>

            </mat-cell>
        </ng-container>
        <!-- Team2 Column -->
        <ng-container matColumnDef="Team2">
            <mat-header-cell *matHeaderCellDef class="team2-header"> </mat-header-cell>
            <mat-cell *matCellDef="let element" class="team2-content">
                {{element.away.name}}
            </mat-cell>
        </ng-container>
        <!-- Round Column -->
        <ng-container matColumnDef="Round">
            <mat-header-cell *matHeaderCellDef class="round-header"> Round </mat-header-cell>
            <mat-cell *matCellDef="let element" class="round-content">
                {{element.round}}
            </mat-cell>
        </ng-container>
        <!-- Stadium Column -->
        <ng-container matColumnDef="Stadium">
            <mat-header-cell *matHeaderCellDef class="stadium-header"> Stadium </mat-header-cell>
            <mat-cell *matCellDef="let element" class="stadium-content">
                {{element.stadium}}
            </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let element; columns: displayedColumns;" class="example-element-row"></mat-row>
    </mat-table>
</div>