<div class="col-sm-12 col-xs-12 text-center nav-search" style="display: flex;">
    <div style="flex: 1;">
        <mat-form-field class="player-list-full-width">
            <mat-label>Search by Club's Name</mat-label>
            <input matInput type="text" [(ngModel)]="clubName" (input)="getClubbyName(clubName)"
                placeholder="Enter Club's Name">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </div>
</div>
<div>

</div>
<div class="container">
    <div class="row">

        <div *ngFor="let club of listClubByLeague" class="col-sm-6">
            <a (click)="navigateToClubInfo(club.clubId)" style="cursor: pointer;">
                <div class="player-container">
                    <mat-card class="player-list-card">
                        <mat-card-header>
                            <div mat-card-avatar class="profile-image">
                                <img mat-card-avatar class="profile-image"
                                    [src]="club.logo != null ? club.logo : defaultLogo" alt="club logo">
                            </div>
                            <mat-card-title style="line-height: 85px;">{{club.clubName}}</mat-card-title>


                        </mat-card-header>

                    </mat-card>
                </div>
            </a>
        </div>




    </div>
</div>