<button mat-raised-button color="primary">Invite Club</button>
<button mat-raised-button>Search</button>
<div>

</div>
<div class="container">
    <div class="row">

        <div class="col-sm-6">
            <div class="player-container">
                <mat-card class="player-list-card">
                    <mat-card-header>
                        <div mat-card-avatar class="profile-image"></div>
                        <mat-card-title style="line-height: 85px;">Manchester United</mat-card-title>


                        <div style="text-align: right; 
                             position:absolute; right:10px; top: 40px; display: inline;">
                            <div class="button-container">
                                <button mat-mini-fab color="primary">
                                    <mat-icon>check circle icon</mat-icon>
                                </button>
                            </div>
                            
                            <div class="button-container">
                                <button mat-mini-fab color="warn">
                                    <mat-icon>clear icon</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-header>

                </mat-card>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="player-container">
                <mat-card class="player-list-card">
                    <mat-card-header>
                        <div mat-card-avatar class="profile-image"></div>
                        <mat-card-title style="line-height: 85px;">Manchester United</mat-card-title>


                        <div style="text-align: right; 
                             position:absolute; right:10px; top: 40px; display: inline;">
                            <div class="button-container">
                                <button mat-mini-fab color="primary">
                                    <mat-icon>check circle icon</mat-icon>
                                </button>
                            </div>
                            
                            <div class="button-container">
                                <button mat-mini-fab color="warn">
                                    <mat-icon>clear icon</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-header>

                </mat-card>
            </div>
            
        </div> <div class="col-sm-6">
            <div class="player-container">
                <mat-card class="player-list-card">
                    <mat-card-header>
                        <div mat-card-avatar class="profile-image"></div>
                        <mat-card-title style="line-height: 85px;">Manchester United</mat-card-title>


                        <div style="text-align: right; 
                             position:absolute; right:10px; top: 40px; display: inline;">
                            <div class="button-container">
                                <button mat-mini-fab color="primary">
                                    <mat-icon>check circle icon</mat-icon>
                                </button>
                            </div>
                            
                            <div class="button-container">
                                <button mat-mini-fab color="warn">
                                    <mat-icon>clear icon</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-header>

                </mat-card>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="player-container">
                <mat-card class="player-list-card">
                    <mat-card-header>
                        <div mat-card-avatar class="profile-image"></div>
                        <mat-card-title style="line-height: 85px;">Manchester United</mat-card-title>


                        <div style="text-align: right; 
                             position:absolute; right:10px; top: 40px; display: inline;">
                            <div class="button-container">
                                <button mat-mini-fab color="primary">
                                    <mat-icon>check circle icon</mat-icon>
                                </button>
                            </div>
                            
                            <div class="button-container">
                                <button mat-mini-fab color="warn">
                                    <mat-icon>clear icon</mat-icon>
                                </button>
                            </div>
                        </div>
                    </mat-card-header>

                </mat-card>
            </div>
        </div>
    </div>
</div>