.row {
    margin-left: 15px;
    margin-right: 15px;
}

table.mat-table {
    width: 100%;
}


//Match-event

.match-event-info {
    position: relative;
    height: 117px;
    .match-event {

        .event-content {
            width: 300px;
            display: flex;
        }

        .event-time {
            margin: 30px 20px;
            width: 50px;
            text-align: center;
        }

    }

    .vl {
        border-left: 1px solid #747474;
        height: 40px;
        position: absolute;
        left: 50%;
    }
    .header-image{
        width: 30px;
        height: 30px;
        margin-top: 7px;
    }
}



th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type{
    width: 105px;
}