<div class="signup-card">
    <h3 class="signup-card-header">FLMS</h3>
    <div class="signup-card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <input type="text" formControlName="email" placeholder="Email" class="form-control" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
            </div>
            <div class="form-group">

                <input type="password" formControlName="password" class="form-control" placeholder="Password" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div class="form-group">
        
                <input type="password" formControlName="re-password" class="form-control" placeholder="Re-password" maxlength="100" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.re-password.errors" class="invalid-feedback">
                    <div *ngIf="f.re-password.errors.required">Re-password is required</div>
                </div>
            </div>
            <div class="form-group">
                <input type="text" formControlName="address" placeholder="Address" class="form-control" maxlength="255"/>
            </div>
            <div class="form-group">
                <input type="text" formControlName="phone" placeholder="Phone-number" class="form-control" maxlength="20"/>
            </div>
            <div class="form-group">
                <select name="role" id="role" placeholder="Role">
                    <option value="select">Select your role</option>
                    <option value="manager">Manager</option>
                    <option value="guest">Guest</option>
                    <option value="player">Player</option>
                </select>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Signup
                </button><br>
                <a routerLink="../login" class="btn btn-link">Login</a>
            </div>
        </form>
    </div>
</div>