
<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

            <mat-form-field class="form-element">
                <input matInput type="email" placeholder="Email" formControlName="email" required>
                <mat-error *ngIf="!form.controls['email'].valid || form.controls['email'].touched">
                    Required field, must be in email format
                </mat-error>
                <!-- <mat-error *ngIf="!formGroup.controls['email'].valid && formGroup.controls['email'].touched">
                {{ getErrorEmail() }}
            </mat-error> -->
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput [type]="hide ? 'password' :'text'" placeholder="Password" formControlName="password"
                    required>
                <mat-hint>Choose a password of at least six characters and one uppercase letter</mat-hint>
                <mat-error *ngIf="!form.controls['password'].valid">
                    Must have between 6 to 32 characters and one uppercase letter!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <input type="password" matInput placeholder="Verify Password" formControlName="confirmPassword" required>
                <mat-error *ngIf="!form.controls['confirmPassword'].valid">
                    Must match with inputed password!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Fullname" formControlName="fullName" required>
                <mat-error *ngIf="!form.controls['fullName'].valid">
                    FieldName is required and max length is 50
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Phone" formControlName="phone">
                <mat-error *ngIf="!form.controls['phone'].valid">
                    Contains number only and within 15 numbers!
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-element">
                <input matInput placeholder="Address" formControlName="address">
                <mat-error *ngIf="!form.controls['address'].valid">
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Roles</mat-label>
                <mat-select formControlName="role" required>
                    <mat-option value="CLUB_MANAGER">CLUB MANAGER</mat-option>
                    <mat-option value="LEAGUE_MANAGER">LEAGUE MANAGER</mat-option>
                </mat-select>
                <mat-error *ngIf="!form.controls['role'].valid">
                    Please select a role!
                </mat-error>
            </mat-form-field>

            <div class="form-element">
                <button mat-raised-button [disabled]="loading" type="submit" class="button btn-primary">Signup</button>
                <a routerLink="../login" class="btn btn-link">Login</a>
            </div>

        </form>
    </div>
</div>